div.search-container {
    background: #F5F5F5;
    border-radius: 5px;
    width: 263px;
    height: 44px;
    margin: auto;
}

.search-input {
    width: 250px;
    height: 44px;
    border-radius: 5px;
    background: #F5F5F5;
    border: 0;
    outline-width: 0;
}

.btn-add {
    background-color: #FFEDE9;
    border: 1px solid #E76F51;
    box-sizing: border-box;
    border-radius: 5px;
    width: 71px;
    height: 43px;
}

.btn-name {
    color: #E76F51;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
}

div.empty-container {
    width: 375px;
    height: 53px;
    /*background: #E5E5E5;*/
    margin: 318px auto;
}

div.search-icon {
    display: table-cell;
    vertical-align: middle;
}

div.search-bar {
    display: table-cell;
    vertical-align: middle;
}

div.search-button {
    display: table-cell;
    vertical-align: middle;
}

h2.empty-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    /*display: flex;*/
    align-items: center;
    text-align: center; 
    color: #424B5A;
}

h5.empty-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    color: #C2D1D9;
}

.suggestion {
    background: #F0F0F0;
    border: 0.5px solid #C2D1D9;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;  
    /*display: flex;*/
    align-items: center;
    color: #424B5A;
    width: 263px;
    height: 40px;
    z-index: 1;
    position: relative;
}